<div class="container-fluid">

	<%= render "profile" %>

<!-- 	Navigation Buttons -->
	<div class="row-fluid btn-group btn-primary photo-filter">
    <button class="btn btn-primary btn-large active">Photos</button>
    <a href="<%= albums_url %>" class="btn btn-primary btn-large">Hashtags</a>
    <button class="btn btn-primary btn-large">Albums</button>
  </div>
</div>


<div id="container" class="centered">

	<% @recent.each_with_index do |media_item, i| %>
		<div class="image-block">
			<a data-toggle="modal" href="#image<%= i %>" > <img class="image" src= <%= "#{media_item["images"]["low_resolution"]["url"]}" %>></a>

<!---This is the footer of each image -->

			<div class="image-footer">
				<h4><img class="comment-icon" rel="tooltip" data-title-original="first tooltip"></img><%= "#{media_item["comments"]["count"]}" %><img class="loves-icon"></img><%= "#{media_item["likes"]["count"]}" %><img class="tag-icon"></img><%= "#{media_item["tags"].count}" %></h4>
			</div>

			<div id="image<%= i %>" class="modal hide fade in" style="display: none; "> 

<!---This is the header of the modal --> 

				<div class="modal-header">  
					<a class="close" data-dismiss="modal">×</a>  
				</div>  

<!---This is the body of the modal with all the stats for each photo -->

				<div class="modal-body">  
					<div>
						<img class="pull-left"src= <%= "#{media_item["images"]["standard_resolution"]["url"]}"%> width = 400px;>
					</div>  

					<div class="image-stats">
						<h3>Comments</h3>
							<ul>
<!---Added a delete button for deleting comments.  Steve and Leland, make me look pretty please!-->							
							<% media_item["comments"]["data"].each do |comment| %>
								<li>
									<li><img class="commentor-avatar" src="<%= comment["from"]["profile_picture"] %>"></li>
									<li class="comments"><h5><%= comment["from"]["full_name"] %></h5><h6><%= comment["text"] %></h6>
										<%= button_to "Delete", delete_comment_path(media_item['id'], comment['id']), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></li>
								</li>
							<% end %>
							</ul>

						<div class="likers">
							<h3><%= media_item["likes"]["count"] %> Likes</h3>
								<ul>
									<% media_item["likes"]["data"].each do |name| %>
									<li class="like"><%= name["full_name"] %></li>
									<% end %>
								</ul>
						</div>
<!--- This is the form used to add a comment to a photo.  Steve and Leland, make me look pretty please!-->
						<p>
							<%= form_tag create_comment_url(media_item['id']), :method=>'post' do %>
							  <p>Add Comment: <%= text_field_tag "comment" %></p>
							  <p><%= submit_tag "Submit" %></p>
							<% end %>		
						</p>
					</div> 

				</div>  

<!---This is the footer of the modal -->

				<div class="modal-footer">     
					<a href="<%= media_item["images"]["standard_resolution"]["url"] %>" download class="btn">Download</a>  
					<a href="mailto:?subject=Instagram Photo&body=Take a look at this sweet photo <%= media_item["images"]["standard_resolution"]["url"] %>"  class="btn">Share</a> 
					<a href="#" class="btn" data-dismiss="modal">Close</a>  
				</div>  
			</div> 
		</div>
	<% end %>
</div>

