<script="comment.js"></script>		


<div class="container-fluid" id="content">

	<%= render "profile" %>

<!-- 	Navigation Buttons -->
	<div class="row-fluid btn-group btn-primary photo-filter">
    <a href="<%= hashtags_url %>" class="btn btn-primary btn-large active" id="hashtags">Hashtags</a>
    <a href="<%= albums_url %>" class="btn btn-primary btn-large" id="albums">Albums</a>
    <a href="<%= photos_url %>" class="btn btn-primary btn-large" id="photos">Photos</a>
  </div>
</div>
<a href="" id="open" class="btn btn-primary add-comment"><div id="addcomment">Add Comment</div></a>


<%= form_tag create_mass_comments_url, :method => 'post' do %>
<div>
	<div id="container" class="centered">

		<% @recent.each_with_index do |media_item, i| %>
			<div class="image-block">
				<a data-toggle="modal" href="#image<%= i %>" > <img class="image" src= <%= "#{media_item["images"]["low_resolution"]["url"]}" %>></a>

	<!---This is the footer of each image -->

				<div class="image-footer">
					<h4><img class="comment-icon" rel="tooltip" data-title-original="first tooltip"></img><%= "#{media_item["comments"]["count"]}" %><img class="loves-icon"></img><%= "#{media_item["likes"]["count"]}" %><img class="tag-icon"></img><%= "#{media_item["tags"].count}" %></h4>
				</div>

				<div class="check">
					<%= check_box_tag "image_ids[]", media_item['id'] %>
				</div>

				<div id="image<%= i %>" class="modal hide fade in" style="display: none; "> 

	<!---This is the header of the modal --> 

					<div class="modal-header">  
						<a class="close" data-dismiss="modal">×</a>  
					</div>  

	<!---This is the body of the modal with all the stats for each photo -->
					<div class="modal-body">  
						<div>
							<img class="pull-left"src= <%= "#{media_item["images"]["standard_resolution"]["url"]}"%> width = 400px;>
						</div>  

						<div class="image-stats">
							<h3>Comments</h3>
								<ul>

									<li><img class="commentor-avatar" src= "<%= "#{@user.profile_picture}" %>"></img></li>
										<h5 class="post-name"><%= "#{@user.full_name}" %></h5>
									<li class="comments">
										<h6><% if media_item["caption"].nil? %>
											<% '' %>
											<% else %>
											<%= media_item["caption"]["text"] %>
											<% end %>
										</h6>
									</li>
											
								<!--- Comments -->

								<% media_item["comments"]["data"].each do |comment| %>
									<li>
										<li><img class="commentor-avatar" src="<%= comment["from"]["profile_picture"] %>"></li>
										<li class="comments"><h5><%= comment["from"]["full_name"] %></h5><h6><%= comment["text"] %></h6>

											<%= link_to "Delete", delete_comment_path(media_item['id'], comment['id']), :method=>:delete, :class => "icon-trash", :confirm=>"Are you sure?" %></li>
									</li>
								<% end %>
								</ul>

							<div class="likers">
								<h3><%= media_item["likes"]["count"] %> Likes</h3>
									<ul>
										<% media_item["likes"]["data"].each do |name| %>
										<li class="like"><%= name["username"] %></li>
										<% end %>
									</ul>
							</div>

							<!-- Hashtags -->

							<div class="likers">
								<h3><%= "#{media_item["tags"].count}" %> Tags</h3>
									<ul>
										<% media_item["tags"].each do |tag| %>
										<li class="like"><%= tag %></li>
										<% end %>
									</ul>
							</div>
						</div> 

					</div>  

					<!---This is the footer of the modal -->

					<div class="modal-footer">  
						<div class="pull-left">
						<%= form_tag create_comment_url(media_item['id']), :method=>'post' do %>
							<h5>Add Comment:</h5> 
							<%= text_field_tag "comment"%>
							<%= submit_tag "Submit", :class=> "btn btn-primary" %>
						<% end %>		
						</div>   
						<a href="<%= media_item["images"]["standard_resolution"]["url"] %>" download class="btn btn-info">Download</a>  
						<a href="mailto:?subject=Instagram Photo&body=Take a look at this sweet photo <%= media_item["images"]["standard_resolution"]["url"] %>"  class="btn btn-info">Share</a> 
						<a href="" class="btn btn-info" data-dismiss="modal">Close</a>  
					</div>  
				</div> 
			</div>
		<% end %>
	</div>	

<div class="container-fluid">	
	<div class="row-fluid tag-form">	
		<%= text_field_tag "comment", nil, placeholder: "Add a comment or hashtags here..." %>
		<%= submit_tag "Post", :class => "btn btn-info" %>
	<% end %>
	</div>
</div>

<!-- Tip Content -->
    <ol id="joyRideTipContent">
      <li data-button="Makes sense." data-options="tipLocation:left;tipAnimation:fade">
        <h2>Last up...</h2>
        <h6>The last stop on our route is the Photos page.  This page lists all the photos you posted to Instagram.</h6>
        <p></p>
      </li>
      <li data-button="Ah, I see." data-class="loves-icon" data-options="tipLocation:bottom;tipAnimation:fade">
        <h2>Down to the brass tacks.</h2>
        <h6>...and some stats on your comments, likes and tags.</h6>
        <p></p>
      </li>
      <li class="alittlehigher" data-id="addcomment" data-button="Got it." data-options="tipLocation:top">
        <h2>Catty Remarks</h2>
        <h6>When you use hashtagg.in, you can add the same comment or hashtag to multiple photos with just a few clicks of the mouse.  Once added, the hashtag will then appear on each selected photo (in the photo's "Comments" section).</h6>
        <p></p>
      </li>
      <li data-id="addcomment" data-button="Got it." data-options="tipLocation:top" class="alittlehigher">
        <h2>XOXO</h2>
        <h6>For instance, "pretend" you have a bunch of photos of your cat, Mittenz, in your Instagram account.  If you wanted to tag them all with the hashtag "#mittenz_xoxo", simply select them all, type #mittenz_xoxo in the pop-up field below and click "Post". It's that simple!  The hashtag will now appear on each selected photo in the "Comments" section.</h6>
        <p></p>
      </li>
      <li data-id="hashtags" data-button="Roger that.">
        <h2>It's magic!</h2>
        <h6>Once you've added your "mittenz_xoxo" hashtag, any photos with that tag will then be grouped under the #mittenz_xox hashtag on the main Hashtags page.</h6>
        <p></p>
      </li>
      <li data-button="Okie dokie!" data-id="image">
        <h2>Feel the power!</h2>
        <h6>Click on any photo to see the comments, likes and hashtags for that photo.  You can even add comments and hashtags on this page. (I know, I know.  We're awesome.)</h6>
        <h6>To post a comment, simply type something like "Uh oh, Mittenz ate the ficus again!"  To post a hashtag, add a pound symbol (#) to the front of any single word (even words that are not real like #mittenz_xoxo).  To "talk to" an Instagram user, you can type "@" and their username (like @mittenz_lover21).  The user will then be notified through their Instagram feed. </h6>
        <p></p>
      </li>
			<li data-button="I'm ready to go hashtagg.in!">
        <h2>Drop us a line.</h2>
        <h6>Let us know what you think!  If you're experiencing problems, have a feature request or just want to tell us you're secretly obsessed with our website, please feel free to email us at hi@hashtagg.in.  We're all ears!</h6>
        <p></p>
      </li>
    </ol>

    <!-- Run the plugin -->
    <% if @user_time + 300 < @date_time.to_i %>
    <script>
      $(window).load(function() {
        $('#joyRideTipContent').joyride();
      });
    </script>
    <% end %>

  </body>
</html>
