<%= image_tag("#{@media["images"]["standard_resolution"]["url"]}") %>
<p>Hash Tags: <%= @media.tags.join ',' %></p>
<p>Longitude: <%= @media["location"]["latitude"] %></p>
<p>Latitude: <%= @media["location"]["longitude"] %></p>
<%#= image_tag("#{@media["comments"]["data"]["text"] %>
<p>Fiter: <%= @media["filter"] %></p>
<p>Caption: <%= @media["caption"] %></p>
<p>Has Liked?: <%= @media["user_has_liked"] %></p>
<p>How Many Likes: <%= @media["likes"]["count"] %></p>
<p>Comment Count: <%= @media["comments"]["count"] %></p>


<h2>Comments</h2>
<ul>
	<% @media["comments"]["data"].each do |comment| %>
		<li>
			<p><%= image_tag(comment.from.profile_picture) %></p>
			<p><%=comment.created_time %></p>
			<p><%=comment.text  %></p>
			<p><%= comment.from.full_name  %></p>
			<p><%= comment.from.username  %></p>
		</li>
	<% end %>
</ul>