
<div class="container-fluid">

	<%= render "profile" %>

	<div class="row-fluid btn-group btn-primary photo-filter">
      <button class="btn btn-primary btn-large active">Photos</button>
      <button class="btn btn-primary btn-large">Albums</button>
      <button class="btn btn-primary btn-large">BFF's</button>
    </div>

</div>


<div id="container" class="centered">
	<% @recent.each_with_index do |media_item,i| %>
		<div class="image-block">
			<a data-toggle="modal" href="#image<%= i %>" > <img class="image" src= <%= "#{media_item['images']['low_resolution']['url']}" %>></a>

			<div class="image-footer">
				<h4><img class="comment-icon"></img><%= "#{media_item["comments"]["count"]}" %><img class="loves-icon"></img><%= "#{media_item["likes"]["count"]}" %><img class="tag-icon"></img><%= "#{media_item["tags"].count}" %></h4>
			</div>

			<div id="image<%= i %>" class="modal hide fade in" style="display: none; ">  
				<div class="modal-header">  
					<a class="close" data-dismiss="modal">×</a>  
				</div>  

				<div class="modal-body">  
					<img src= <%= "#{media_item['images']['standard_resolution']['url']}"%> width = 400px;>       
				</div>  

				<div class="modal-footer">    
					<a href="#" class="btn" data-dismiss="modal">Close</a>  
				</div>  

			</div> 
		</div>
	<% end %>
</div>

<%= link_to "Next Page", test_path %>
<%= link_to "Logout", :controller => "sessions", :action => "logout" %>


<script src="masonry.min.js"></script>
<script>
  window.onload = function() {
    
    
    var wall = new Masonry( document.getElementById('container'), {
      columnWidth: 240, 
      isFitWidth: true
    });
    
  };
</script>


