<div class="container-fluid">

	<%= render "profile" %>

<!-- 	Navigation Buttons -->
	<div class="row-fluid btn-group btn-primary photo-filter">
    <a href="<%= hashtags_url %>" class="btn btn-primary btn-large active">Hashtags</a>
    <a href="<%= albums_url %>" class="btn btn-primary btn-large">Albums</a>
    <a href="<%= photos_url %>" class="btn btn-primary btn-large">Photos</a>
  </div>
</div>

<div id="container" class="centered">

	<% @all_tags.uniq.each do |tag_item| %>
	<div class="hashtag-image-block">
		<div class="hashtag-header">
			<h4>#<%= tag_item %></h4>
			<h5><%= @hashtag_data[tag_item].count %></h5>
		</div>
		<a href="#" > <img class="hashtag-image" src= <%= @hashtag_data[tag_item].sample %>></a>
		<div class="hashtag-footer">

			<a href="<%= create_album_path(tag_item) %>" class="btn btn-info btn-mini">Make Album</a>
			<a href="<%= htshow_path(tag_item) %>" class="btn btn-info btn-mini">View Photos</a>
</li>
		</div>
	</div>
	<% end %>

</div>
