<div class="container-fluid">
  <%= render "profile" %>

  <p id="notice"><%= notice %></p>

  <!--  Navigation Buttons -->
  <div class="row-fluid btn-group btn-primary photo-filter">
    <a href="<%= hashtags_url %>" class="btn btn-primary btn-large">Hashtags</a>
    <a href="<%= albums_url %>" class="btn btn-primary btn-large active">Albums</a>
    <a href="<%= photos_url %>" class="btn btn-primary btn-large">Photos</a>
  </div>
</div>

<div id="container" class="centered">

  <% if @albums_array == [] %>
    <h2>No Albums Yet</h2>
  <% else %>
    <% @albums_array.each do |album| %>
      <div class="hashtag-image-block">
        <div class="hashtag-header">
          <h4><%= link_to album['name'], album_url(album['id']) %></h4>
        </div>
        <a href="#"> <img class="hashtag-image" src=<%= album['images'].sample %>>
        <div class="hashtag-footer">
          <%= link_to "Remove Album", album_url(album["id"]), :method => "delete", :class => "btn btn-info btn-mini" %>
          <a href="#" class="btn btn-info btn-mini">View Album</a>
        </div>
      </div>
    <% end %>
  <% end %>

</div>



<!-- we need an image to display if there aren't any pictures in the album  -->