<div class="container-fluid">
  <%= render "profile" %>

  <p id="notice"><%= notice %></p>

  <!--  Navigation Buttons -->
  <div class="row-fluid btn-group btn-primary photo-filter">
    <a href="<%= hashtags_url %>" class="btn btn-primary btn-large active" id="hashtags">Hashtags</a>
    <a href="<%= albums_url %>" class="btn btn-primary btn-large" id="albums">Albums</a>
    <a href="<%= photos_url %>" class="btn btn-primary btn-large" id="photos">Photos</a>
  </div>
</div>

<div id="container" class="centered">

  <% if @albums_array == [] %>
    <h2>View the <a href ="<%= hashtags_url %>">Hashtags</a> page to start creating albums. </h2>
  <% else %>
    <% @albums_array.each do |album| %>
      <div class="hashtag-image-block">
        <div class="hashtag-header">
          <h4><%= link_to album['name'].capitalize, album_url(album['id']) %></h4>
        </div>
        <a href="<%= album_url(album['id']) %>"> <img class="hashtag-image" src=<%= album['images'].sample %>>
        <div class="hashtag-footer">
          <%= link_to "Remove Album", album_url(album["id"]), :method => "delete", :class => "btn btn-info btn-mini", :id => "removealbum" %>
          <%= link_to "View Album", album_url(album['id']), :class => "btn btn-info btn-mini", :id => "viewalbum" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- Tip Content -->
    <ol id="joyRideTipContent">
      <li data-button="Got it!" data-id="albums">
        <h2>Next up...</h2>
        <h6>The next stop on our route is the Albums page. This page can be a bit confusing, so let me explain this slowly - here. you. can. see. your. albums.</h6>  
        <h6>Phew!  Tough concept, I know.</h6>
        <p></p>
      </li>
      <li data-id="removealbum" data-button="Makes sense.">
        <h2>Scrap It</h2>
        <h6>Click this button to delete an album.  But, don't stress. Deleting an album won't delete your pictures, hashtags, likes or comments - only the album (hence, the name "Remove Album").</h6>
        <p></p>
      </li>
      <li data-button="Roger that." data-id="viewalbum">
        <h2>And what have we here?</h2>
        <h6>Clicking this button opens the album allowing you to view all of the photos in it.  Albums automatically include all photos with a particular hashtag - including photos you tagged after you created the album.</h6>
        <p></p>
      </li>
      <li data-button="Ten-four." data-id="viewalbum">
        <h2>But what about my cat?</h2>
        <h6>For instance, "pretend" you have a bunch of photos of your cat, Mittenz, in your Instagram account.  If you hashtagged them all with the tag #mittenz_xoxo and then created a "mittenz_xoxo" album, they would all be included.  And then, later, if you added additional pictures of Mittenz to Instagram with the same hashtag, those would automatically be included.</h6>
        <p></p>
      </li>
<li data-button="Close">
        <h2>When can I start?</h2>
        <h6>By now, you're probably excited to get started "hashtaggin" your photos, huh?  I bet!</h6>
        <h6>There's just a few super-cool features left I want to show you so click the "Photos" button at the top of the page and we'll wrap this tour up!</h6>
        <p></p>
        </li>
    </ol>

    <!-- Run the plugin -->
    <% if @user_time + 500 < @date_time.to_i %>
    <script>
      $(window).load(function() {
        $('#joyRideTipContent').joyride();
      });
    </script>
    <% end %>



<!-- we need an image to display if there aren't any pictures in the album  -->