<p id="notice"><%= notice %></p>

<p>
  Album Name:  <%= params[:id] %>
  <br>
  Album Tag:  <% @album.each do |tag| %>
<%= tag['tag'] %>
<% end %>
  
</p>

<p>
  <% @album_data.each do |media_item| %>
  <%= image_tag media_item %>
  <% end %>
</p>

<%= link_to 'Back', albums_path %>
