  <nav class="row-fluid navigation">
    <h4 class="span4"></h4>
    <div class="span4">
      <div class="logo"></div>
    </div>
    <h4 class="span4"><img class="navatar" src= <%= "#{@user.profile_picture}" %>></img><%= "#{@user.username}" %> | <%= link_to "Logout", :class => "logout", :controller => "sessions", :action => "logout" %></h4>
  </nav>

  <div class="profile-separator">

    <div class="profile-image span2 pull-left" style="background-image: url('<%= "#{@user.profile_picture}" %>');">
    </div>

    <div class="span4 user-info">
      <h2><%= "#{@user.full_name}" %></h2>
      <h3><%= "#{@user.username}"%> / <%= "#{@user.counts.media}"%> photos</h3>
      <h4><%= "#{@user.bio}"%></h4>
    </div>
    
  </div>